--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
torchaudio
transformers[torch]
datasets[audio]
audiomentations[extras]
evaluate
ipykernel
tensorboardX
tqdm
ipywidgets
huggingface_hub[hf_xet]
optuna